<!--
    @ Author    : hong-il
    @ Date      : 2020-11-01
    @ File name : js.html
    @ File path : /fragments/js.html
    @ Description : js files
-->
<!-- Scripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <script src="/static/assets/js/main.js"></script>
    <script src="/static/assets/js/fragments/header.js"></script>