<!DOCTYPE html>
<!--
    @ Author    : hong-il
    @ Date      : 2020-11-01
    @ File name : post.html
    @ File path :
    @ Description : 
-->
<html lang="en">
<article class="post">
    <header>
        <div class="title">
            <h2>
                <a href="#">{{ post.PST_TITLE }}</a>
            </h2>
            <p>{{ post.PST_SUB_TITLE }}</p>
        </div>
        <div class="meta">
            <time class="published">{{ post.PST_CREATED_DATE|datetime_format }}</time>
            <a href="#" class="author">
                <span class="name">author</span>
                <img alt=""/>
            </a>
        </div>
    </header>

    <section>
        <p>{{ post.PST_CONTENT }}</p>
    </section>

    <footer>
        <ul class="actions">
            <li><a href="#" class="button solid icon fa-edit">Update</a></li>
            <li><a href="#" class="button solid icon fa-trash">Delete</a>
            </li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon solid fa-heart"></a></li>
            <li><a href="#" class="icon solid fa-comment"></a></li>
        </ul>
    </footer>
    <div>comments</div>
</article>
</html>