<!DOCTYPE html>
<!--
    @ Author    : hong-il
    @ Date      : 2020-11-03
    @ File name : posts.html
    @ File path : /fragments/posts.html
    @ Description : post list
-->
<html lang="en">
<!-- Post -->
    {% for post in posts %}
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="single.html">{{ post.PST_TITLE }}</a></h2>
                <p>{{ post.PST_SUB_TITLE }}</p>
            </div>
            <div class="meta">
                <time class="published">{{ post.PST_CREATED_DATE }}</time>
                <a href="#" class="author"><span class="name">Jane Doe</span><img src="/static/images/avatar.jpg" alt="" /></a>
            </div>
        </header>
        <a href="single.html" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
        <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <footer>
            <ul class="actions">
                <li><a href="single.html" class="button large">Continue Reading</a></li>
            </ul>
            <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
            </ul>
        </footer>
    </article>
    {% endfor %}
<!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="" class="disabled button large previous">Previous Page</a></li>
        <li><a href="#" class="button large next">Next Page</a></li>
    </ul>
</html>