<!DOCTYPE html>
<!--
    @ Author    : hong-il
    @ Date      : 2020-11-01
    @ File name : post.html
    @ File path : /post.html
    @ Description : Post page
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>

    {% include "fragments/css.html" %}

</head>
<body class="single is-preload">

<!-- Wrapper -->
    <div id="wrapper">

        {% include "fragments/header.html" %}

        {% include "fragments/menu.html" %}

    <!-- Main -->
        <div id="main">

            {% include "fragments/post.html" %}

        </div>

        {% include "fragments/footer.html" %}

    </div>

    {% include "fragments/js.html" %}

</body>
</html>