<!DOCTYPE html>
<!--
    @ Author    : hong-il
    @ Date      : 2020-11-01
    @ File name : write.html
    @ File path : /write.html
    @ Description : Write page
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/assets/css/main.css" />
</head>
<body class="single">

<!-- Wrapper -->
    <div id="wrapper">

        {% include "fragments/header.html" %}

        {% include "fragments/menu.html" %}

    <!-- Main -->
        <div id="main">

            {% include "fragments/createForm.html" %}

        </div>

        {% include "fragments/footer.html" %}

    </div>

    {% include "fragments/js.html" %}

</body>
</html>